<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Messaging - CloverComm</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body id="emailBody">
    <header>
        <h1>CloverComm</h1>
        <h3>Gustavo's Page. Secure Message Encryption & Decryption</h3>
    </header>


    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('messenger_view') }}">Password Manager(Conor)</a></li>
            <li><a href="{{ url_for('voice_view') }}">Voice Chat (Oisin)</a></li>
            <li><a href="{{ url_for('gustavo') }}">Messenger (Gustavo)</a></li>
            <li><a href="{{ url_for('imageEncryption') }}">Image Encryption(Vitor)</a></li>
        </ul>
    </nav>


    <section class="message-section">
        <div class="form-container user-box">
            <h2>User 1</h2>
            <form method="POST">
                <label for="user1_message">Type your message:</label><br>
                <textarea id="user1_message" name="user1_message" required></textarea><br><br>
                <button type="submit" name="user1_send">Send</button>
            </form>
        </div>
        <!-- https://jinja.palletsprojects.com/en/stable/templates/ -->
        <div class="chat-log">
            <h2>Chat Log</h2>
            <div class="messages">
                {% for user, encrypted_message, decrypted_message in chat_log %}
                <p><strong>{{ user }}:</strong><br>
                    <em>Encrypted:</em> {{ encrypted_message }}<br>
                    <em>Decrypted:</em> {{ decrypted_message }}
                </p>
                {% endfor %}
            </div>
        </div>
        <div class="form-container user-box">
            <h2>User 2</h2>
            <form method="POST">
                <label for="user2_message">Type your message:</label><br>
                <textarea id="user2_message" name="user2_message" required></textarea><br><br>
                <button type="submit" name="user2_send">Send</button>
            </form>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 CloverComm. All rights reserved.</p>
    </footer>
</body>

</html>