<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body id="indexBody">
    <header>
        <h1>CloverComm</h1>
        <h3>Security Group Project</h3>
    </header>

    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('messenger_view') }}">Messenger</a></li>
            <li><a href="{{ url_for('voice_view') }}">Voice Chat</a></li>
            <li><a href="{{ url_for('video_view') }}">Video Chat</a></li>
            <li><a href="{{ url_for('gustavo') }}">Gustavo</a></li>
            <li><a href="{{ url_for('imageEncryption') }}">Image Encryption</a></li>
        </ul>
    </nav>

        <h2>Welcome to CloverComm</h2>
        <p>Encrypt your passwords, messages, images and more!!</p>
    

    <footer>
        <p>&copy; 2024 CloverComm. All rights reserved.</p>
    </footer>

    <script src="home.js"></script>
</body>
</html>