<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Chat - CloverComm</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body id="voiceBody">
    <header>
        <h1>CloverComm</h1>
        <h3>Voice Chat</h3>
    </header>

    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('messenger_view') }}">Messenger</a></li>
            <li><a href="{{ url_for('voice_view') }}">Voice Chat</a></li>
            <li><a href="{{ url_for('gustavo') }}">Gustavo</a></li>
            <li><a href="{{ url_for('imageEncryption') }}">Image Encryption</a></li>
        </ul>
    </nav>
    <main>
        <div id="form-container">
            <label for="call_id">Call ID:</label>
            <input type="text" id="call_id" required>
            <label for="password">Password:</label>
            <input type="password" id="password" required>
            <button id="start-call">Start Call</button>
        </div>
        <div id="call-container" style="display:none;">
            <audio id="localAudio" autoplay muted></audio>
            <audio id="remoteAudio" autoplay></audio>
            <button id="hangup">Hang Up</button>
        </div>
    </main>
    <script src="{{ url_for('static', filename='voice.js') }}"></script>
</body>
</html>
