body {
    background-color: #023020;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 70;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

#indexBody{
    text-align: center;
}

:root {
    --primary-color: #104C61;
    --secondary-color: #023020;
    --text-color: #fff;
    --hover-color: #104C61;
    --font-primary: 'Open Sans', sans-serif;
}

header {
    background-color: #104C61;
    padding: 10px;
    text-align: center;
    margin: 0;
}

nav {
    background-color: var(--secondary-color);
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    transition: color 0.3s ease-in-out, transform 0.3s ease;
}

nav a:hover {
    color: var(--hover-color);
    transform: scale(1.1);
}


div {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #104C61;
    border-radius: 10px;
    box-shadow: 0 0 #023020;
}


footer {
    background-color: var(--primary-color);
    padding: 20px 10px;
    text-align: center;
    width: auto;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

footer p {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-size: 1em;
}